---
layout: layouts/base.njk
title: Upgrade Hub - Empresas
---

<uh-hero>
  <uh-content-row slot="content">
    <uh-text size="xs" color="brightTurquoise" weight="bold">Upgrade your business</uh-text>
    <uh-break size="xs"></uh-break>
    <uh-text size="xl" weight="bold" color="white">Te acompañamos en la gestión de talento</uh-text>
  </uh-content-row>
  <img slot="background" class="lazyload" alt="programadores web full stack" data-src="{{ project.relativeUrl('/images/Empresa-bg.jpg') }}">
</uh-hero>

<uh-content-row>
  <uh-llamanos></uh-llamanos>
</uh-content-row>

<uh-flex>
  <uh-content-row>
    <uh-content-text size="l" weight="bold">
      Búsqueda de candidatos
    </uh-content-text>
    <uh-content-text size="s">
      Te acompañamos en la búsqueda de candidatos que sepan desenvolverse en entornos competitivos, capacitados en las herramientas tecnológicas de vanguardia y que saben trabajar con <em class="sunsetOrange">metodologías ágiles</em>
    </uh-content-text>
    <uh-content-text size="s" weight="bold">
      Cuenta con nosotros para hacer un recruitment a medida que se adapte a tus necesidades
    </uh-content-text>
    <uh-button color="sunsetOrange" href="{{ project.relativeUrl('/contacto') }}">Solicitar información</uh-button>
  </uh-content-row>

  <uh-content-row>
    <uh-content-text size="l" weight="bold">
      Formación para tus empleados
    </uh-content-text>
    <uh-content-text size="s">
      Te ofrecemos opciones para que tus empleados se actualice, <em class="blueRibbon">perfeccionen competencias</em> y manejen las últimas herramientas en programación
    </uh-content-text>
    <uh-content-text size="s" weight="bold">
      Consulta al detalle nuestros bootcamps
    </uh-content-text>
    <uh-button color="blueRibbon" href="{{ project.relativeUrl('/contacto') }}">Descargar programa</uh-button>
  </uh-content-row>
</uh-flex>

<uh-content-row background="hawkesBlue" wide>
  <uh-content-text size="xs" weight="bold" color="scarletGum">
    <uh-icon name="v-hand"></uh-icon><br>
    Por qué nuestros upgraders son la mejor opción
  </uh-content-text>
  <div id="accordion-top"></div>
  <uh-accordion active>
    <uh-content-text class="title" size="l" weight="bold" color="scarletGum">
      Learning by doing
    </uh-content-text>
    <div class="active-this description">
      <uh-content-text color="scarletGum" size="s">
        Nuestros Upgraders están entrenados para trabajar en entornos profesionales donde adquieren habilidades de integración de casos prácticos vinculados a proyectos reales. Además, desarrollan estrategias de adaptación a los cambios y análisis del entorno para responder de forma efectiva a los requisitos de diferentes puestos y equipos
      </uh-content-text>
      <uh-content-text color="scarletGum" size="m" weight="bold">
        Casos prácticos<br>
        Proyectos reales<br>
        Entornos profesionales<br>
        Estrategias de adaptación<br>
        Capacidad de respuesta<br>
      </uh-content-text>
    </div>
    <uh-icon class="active-this" name="chevron" color="scarletGum" fill-all></uh-icon>
  </uh-accordion>
  <uh-accordion>
    <uh-content-text class="title" size="l" weight="bold" color="scarletGum">
      Entrenamiento integral
    </uh-content-text>
    <div class="active-this description">
      <uh-content-text color="scarletGum">
        Nuestros Upgraders han recibido un entrenamiento intensivo orientado tanto a la aplicación práctica de herramientas tecnológicas como al desarrollo de habilidades blandas y metodologías ágiles. Además, han adquirido competencias de aprender a aprender para responder a los constantes cambios en el sector tecnológico. De esta forma, nuestros Upgraders se integran perfectamente en su puesto de trabajo y empiezan a sumar desde el primer día.
      </uh-content-text>
      <uh-content-text color="scarletGum" size="m" weight="bold">
        Conocimientos técnicos<br>
        Aplicación práctica<br>
        Habilidades blandas<br>
        Metodologías ágiles<br>
        Capacitación por competencias<br>
      </uh-content-text>
    </div>
    <uh-icon class="active-this" name="chevron" color="scarletGum" fill-all></uh-icon>
  </uh-accordion>
  <uh-accordion>
    <uh-content-text class="title" size="l" weight="bold" color="scarletGum">
      Docentes profesionales
    </uh-content-text>
    <div class="active-this description">
      <uh-content-text color="scarletGum">
        Nuestros docentes son profesionales en activo con amplia experiencia en el sector tecnológico y con altas capacidades para crear equipos competitivos. Están comprometidos con el diseño de programas actualizados, adaptados a las necesidades laborales. Además, actúan como mentores, llevando a cabo una capacitación personalizada y un seguimiento exhaustivo de nuestros Upgraders.
      </uh-content-text>
    </div>
    <uh-icon class="active-this" name="chevron" color="scarletGum" fill-all></uh-icon>
  </uh-accordion>
</uh-content-row>

<uh-content-row wide background="whisper">
  <uh-flex align-center>
    <uh-content-text size="l" weight="bold" color="scarletGum">
      Te invitamos a nuestras jornadas de selección
    </uh-content-text>
    <uh-button color="royalBlue" href="#contacto">
      Quiero participar
    </uh-button>
  </uh-flex>
</uh-content-row>

{% include 'components/empresas.njk' %}

{# <uh-content-row fluid>
  <uh-flex from="s">
    <uh-profile>
      <img class="lazyload" alt="alt title" data-src="http://placekitten.com/300/280"/><br>
      <uh-text size="xs" weight="bold" non-responsive>Jesús Bermejo</uh-text><br>
      <uh-text size="xs" non-responsive>Service & Strategic Designer muak studio</uh-text><br>
      <uh-icon name="indra-logo" width="100" height="50"></uh-icon>
      <uh-text slot="quote" color="royalBlue" size="xs">“El Web Full Stack Development Bootcamp de Upgrade Hub abarca todas las capacidades y habilidades que requerimos para formar parte de nuestros equipos.”</uh-text>
    </uh-profile>
    <uh-profile>
      <img class="lazyload" alt="alt title" data-src="http://placekitten.com/500/550"/><br>
      <uh-text size="xs" weight="bold" non-responsive>Jesús Bermejo</uh-text><br>
      <uh-text size="xs" non-responsive>Service & Strategic Designer muak studio</uh-text><br>
      <uh-icon name="indra-logo" width="100" height="50"></uh-icon>
      <uh-text slot="quote" color="mountainMeadow" size="xs">“El Web Full Stack Development Bootcamp de Upgrade Hub abarca todas las capacidades y habilidades que requerimos para formar parte de nuestros equipos.”</uh-text>
    </uh-profile>
  </uh-flex>
</uh-content-row wide> #}

<uh-content-row fluid background="mountainMeadow" id="contacto">
  <uh-break></uh-break>
  <uh-flex align-center from="xl">
    <uh-content-text>
      <uh-content-text size="l" weight="bold" color="white">
        ¿Quieres saber más?
      </uh-content-text>
      <uh-content-text size="s" color="white">
        En Upgrade nos comprometemos con tu proyección de futuro. Nuestros Bootcamps, 100% profesionales, son entrenamientos intensivos que te capacitan tanto en conocimientos técnicos como en habilidades sociales.
      </uh-content-text>
    </uh-content-text>
    <uh-contact-form
        href-legal="{{ project.relativeUrl('/legal')}}"
        href-privacidad="{{ project.relativeUrl('/privacidad')}}"
        business-input
        message-input></uh-contact-form>
  </uh-flex>
</uh-content-row>
