---
layout: layouts/base.njk
title: Upgrade Hub - Orientador
navbar: false
footer: false
---

<uh-hero>
  <uh-content-row fluid slot="content">
    <uh-text size="xl" weight="bold" color="white">{{ title }}</uh-text>
  </uh-content-row>
  <img slot="background" alt="Image without description" class="lazyload" data-src="http://placekitten.com/1100/680"/>
</uh-hero>