<uh-content-row background="seaShell">
  <uh-content-text size="s" weight="bold">
    Te proporcionamos el conocimiento y las habilidades para que seas quien realmente estás deseando ser. 
  </uh-content-text>
  <uh-content-text size="s">
    <uh-flex from="xs">
      <uh-icon name="two-fingers"></uh-icon>
      <style>
        #conocimientos-previos {
          flex-basis: 50%;
        }
        @media(min-width: 576px) {
          #conocimientos-previos {
            flex-basis: 70%;
          }
        }
      </style>
      <div id="conocimientos-previos">
        Tanto si tienes conocimientos previos en el sector como si no los tienes.
      </div>
    </uh-flex>
  </uh-content-text>
  <uh-button color="sunsetOrange">Quiero empezar</uh-button>
</uh-content-row>
