<uh-footer>
  <uh-logo slot="logo" color="white" href="{{ project.relativeUrl('/') }}"></uh-logo>
  <a slot="address" href="https://goo.gl/maps/R8TqHgk3SykjfP34A">Calle Orense 69, Madrid 28020</a>
  <a slot="address" href="tel:911459899">91 145 98 99</a><br>
  <a slot="address" href="tel:722262305">722 262 305</a><br>
  <a slot="address" href="mailto:info@upgrade-hub.com">info@upgrade-hub.com</a>
  <a slot="links" href="{{ project.relativeUrl('/cursos') }}">Bootcamps</a>
  <a slot="links" href="{{ project.relativeUrl('/empresas') }}">Empresas</a>
  <a slot="links" href="{{ project.relativeUrl('/escuela') }}">Hub</a>
  <a slot="links" href="{{ project.relativeUrl('/contacto') }}">Contacto</a>
  <a slot="links" href="{{ project.relativeUrl('/preguntas-frecuentes') }}">Preguntas frecuentes</a>
  <a slot="links" href="{{ project.relativeUrl('/privacidad') }}">Política de Privacidad</a>
  <a slot="social" href="https://www.facebook.com/UpgradeHub/"><uh-icon name="facebook-logo"></uh-icon></a>
  <a slot="social" href="https://www.linkedin.com/school/upgradehub/"><uh-icon name="linkedin-logo"></uh-icon></a>
  <a slot="social" href="https://www.instagram.com/upgrade_hub/"><uh-icon name="instagram-logo"></uh-icon></a>
  {# <a slot="social" href="#"><uh-icon name="twitter-logo"></uh-icon></a> #}
  <div slot="newsletter">
    <uh-text color="white" size="xs" style="display:block">Suscríbete a nuestro boletín</uh-text>
    <uh-button color="royalBlue">Suscribirme</uh-button>
  </div>
</uh-footer>
