<uh-content-row wide>
  <uh-content-text center weight="600">
    Ofrecemos todos los cursos en varios formatos
  </uh-content-text>
  <uh-flex from="xl">
    <uh-content-text size="xs">
      <uh-flex from="xs">
        <uh-icon name="modalidad-presencial" list></uh-icon>
        <div style="flex-basis: 50%">
          <b>Clases presenciales</b><br>en nuestro hub
        </div>
      </uh-flex>
    </uh-content-text>
    <uh-content-text size="xs">
      <uh-flex from="xs" center>
        <uh-icon name="modalidad-mixto" list></uh-icon>
        <div style="flex-basis: 50%">
          <b>Mixto</b><br>Presenciales en el hub y en remoto
        </div>
      </uh-flex>
    </uh-content-text>
    <uh-content-text size="xs">
      <uh-flex from="xs" center>
        <uh-icon name="modalidad-remoto" list></uh-icon>
        <div style="flex-basis: 50%">
          <b>En remoto</b><br>Clases online en remoto
        </div>
      </uh-flex>
    </uh-content-text>
  </uh-flex>
</uh-content-row>
