<noscript style="display: block;margin: 50px 100px;border: 1px solid lightgrey;border-radius: 5px;padding: 30px;background: lightyellow;">
      <p><b>JavaScript está desactivado</b></p>
      <p>Por favor, actívalo para navegar en esta página</p>
      <a href="https://www.enable-javascript.com/">https://www.enable-javascript.com/</a>
</noscript>