{
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose" : true }]
  ],
  "env": {
    "dev_legacy": {
      "presets": [
        "@babel/preset-env"
      ],
      "plugins": [
        ["snowpack/assets/babel-plugin.js", {}]
      ]
    },
    "prod_legacy": {
      "presets": [
        "@babel/preset-env"
      ],
      "plugins": [
        ["snowpack/assets/babel-plugin.js", {}]
      ]
    },
    "dev_modern": {
      "presets": [
        "@babel/preset-modules"
      ],
      "plugins": [
        ["snowpack/assets/babel-plugin.js", {}]
      ]
    },
    "prod_modern": {
      "presets": [
        "@babel/preset-modules"
      ],
      "plugins": [
        ["snowpack/assets/babel-plugin.js", {}]
      ]
    }
  }
}
