---
layout: layouts/curso.njk
title: Ciberseguridad y hacking
tags: cursos
order: 2
logo: cibersecurity-geometric-logo
card:
  title: Ciberseguridad y hacking
  description: 7 de septiembre
chooser:
  title: Ciberseguridad y hacking ético
  image: /images/chooser-images/ciber-img-chooser.jpg
  badges:
    - text: ULTIMAS PLAZAS
      color: supernova
menu:
  title: Ciberseguridad y hacking
  image: seguridad-menu.jpg
options:
  - date: 7 septiembre 2020
    color: royalBlue
    title: Part Time Bootcamp Ciberseguridad
    features:
      1:
        - text: Part time
          bold: true
        - text: Jornada partida
          bold: false
      2:
        - text: 180
          bold: true
        - text: Horas lectivas
          bold: false
      3:
        - text: Lunes, miércoles y viernes
          bold: true
        - text: de 18:30h a 22h
          bold: false
    badge: ÚLTIMAS PLAZAS
    href: '/inscripcion'
    price: 4.900€
  - date: 7 septiembre 2020
    color: persianRose
    title: Full Time Bootcamp Ciberseguridad
    features:
      1:
        - text: Full time
          bold: true
        - text: Jornada completa
          bold: false
      2:
        - text: 320
          bold: true
        - text: Horas lectivas
          bold: false
      3:
        - text: Lunes a viernes
          bold: true
        - text: de 9h a 18h
          bold: false
    href: '/inscripcion'
    price: 5.900€
hero:
  title:
    color: Ciberseguridad
    rest: y hacking
  background: seguridad-bg.jpg
  svg: /src/images/uxui-hero.svg
description: Ofrecerás las soluciones técnicas en materia de seguridad desde un punto de vista integral, viendo la seguridad como un todo.
primary_color: royalBlue
skills:
  - title: Activos IT
    description: Nivelación y conocimientos básicos en materia de redes y activos IT.
  - title: Ciberseguridad
    description: Tecnologías en materia de ciberseguridad perimetral.
  - title: Hacking ético
    description: Reglas de uso y herramientas de hacking ético y pentesting.
  - title: Protección de entornos
    description: Te pondremos a prueba protegiendo un entorno real o evaluando brechas de seguridad de ese entorno.
faqs:
  - question_title: ¿Qué beneficios me aporta aprender ciberseguridad y hacking ético?
    question_answer: Integrarte en las demandas que el mundo laboral de hoy necesita. Si dominas las tecnologías de ciberseguridad y hacking ético podrás formar parte de la primera línea de defensa de cualquier entorno digital.
  - question_title: ¿Este curso tiene sentido si se tienen conocimientos de diseño UX/UI?
    question_answer: Para la realización del CSH Bootcamp no se necesita tener conocimientos previos en programación o redes de comunicaciones, aunque sí debes ser consciente que son la base de todo y del dinamismo de estas tecnologías.Tampoco es necesaria experiencia laboral. 
  - question_title: ¿La realización del CSH Bootcamp me garantiza encontrar trabajo al finalizar?              
    question_answer: En Upgrade hemos creado vínculos de colaboración con empresas demandantes de perfiles en materia de ciberseguridad y hacking ético en el que se genera una permanente demanda de puestos de trabajo en todos los sectores y con diferentes roles.
form:
  color: royalBlue
  title: ¿Quieres saber más?
  description: En Upgrade nos comprometemos con tu proyección de futuro. Nuestros Bootcamps, 100% profesionales, son entrenamientos intensivos que te capacitan tanto en conocimientos técnicos como en habilidades sociales.
---

<uh-content-row wide>
  <uh-flex>
    <div>
      <uh-content-text size="m" weight="bold" color="scarletGum">
        ¿Qué es Ciberseguridad?
      </uh-content-text>
      <uh-content-text size="s">
        La ciberseguridad y el hacking ético son los pilares sobre los que se asienta la ciberseguridad actualmente. Su objetivo es desplegar soluciones tecnológicas avanzadas para la protección del entorno global IT /OT de cualquier organización.
      </uh-content-text>
    </div>
    <img alt="Alumno sonriendo" src="{{ project.relativeUrl('/images/ciber-working.jpg') }}" />
  </uh-flex>
</uh-content-row>

{% include 'components/conocimientos-previos.njk' %}

{% include 'components/skills.njk' %}

<uh-hero full no-gradient>
  <uh-content-row wide slot="content">
    <uh-content-text size="l" color="white" weight="bold" >
      ¿Porqué la ciberseguridad y el hacking ético pueden cambiarte la vida?
    </uh-content-text>
    <uh-content-text size="s" color="white">
      Si apuestas por la ciberseguridad te convertirás en un pilar imprescindible en cualquier empresa, donde las posibilidades de crecer profesionalmente son muy grandes, accediendo a uno de los sectores más demandados y mejor pagados actualmente.
    </uh-content-text>
    <uh-button color="translucent">Ver vídeo</uh-button>
  </uh-content-row>
  <img slot="background" class="lazyload" alt="mentor hablando" style="filter: brightness(50%)" data-src="{{ project.relativeUrl('/images/ciber-bg.jpg')}}"/>
</uh-hero>

{% include 'components/method.njk' %}

<uh-content-row wide>
  <uh-flex>
    <uh-content-text size="m" weight="bold" color="scarletGum">
      ¿Cuáles son las fases del curso?
      <uh-break></uh-break>
      <uh-text size="s" non-responsive><uh-button color="royalBlue">Descargar programa</uh-button></uh-text>
    </uh-content-text>
    <uh-content-text size="s">
      En el Bootcamp adquirirás competencias que te permitan, configurar y administrar las soluciones técnicas que protegen activos IT/OT y a manejar las herramientas del hacking ético para realizar auditorías y evaluaciones de ciberseguridad. 
    </uh-content-text>
  </uh-flex>
</uh-content-row>

<uh-content-row wide>
  <uh-flex>
    <div>
      <uh-content-text size="m" weight="bold" color="scarletGum">
        ¿Qué herramientas voy a utilizar?
      </uh-content-text>
      <uh-content-text size="xs">
        Al finalizar el Bootcamp, habrás adquirido las habilidades necesarias para ofrecer las soluciones técnicas en materia de seguridad desde un punto de vista integral, viendo la seguridad como un todo real.
      </uh-content-text>
    </div>
    <uh-icons-grid>
      <img class="lazyload" alt="alt title" data-src="/images/logo-images/kali_logo.png"/>
      <img class="lazyload" alt="alt title" data-src="/images/logo-images/nessus_logo.png"/>
      <img class="lazyload" alt="alt title" data-src="/images/logo-images/snort_logo.png"/>

      <!-- {{ '/src/icons/indra-logo.svg' | svgContents | safe }} -->
    </uh-icons-grid>
  </uh-flex>
</uh-content-row>

{# <uh-hero>
  <uh-content-row fluid slot="content">
    <uh-text size="xl" weight="bold" color="white">{{ title }}</uh-text>
  </uh-content-row>
  <uh-video slot="background"  src="{{ project.relativeUrl('/videos/woman-studying-outdoors.mp4') }}"/>
</uh-hero>

<uh-content-row>
  <h2>{{ title }}</h2>
</uh-content-row> #}