---
layout: layouts/curso.njk
title: Front End developer
tags: cursos
order: 4
logo: front-end-geometric-logo
card:
  title: Front End developer
  description: 5 de octubre
chooser:
  title: Front End developer
  image: /images/chooser-images/frontend-img-chooser.jpg
  badges:
    - text: ULTIMAS PLAZAS
      color: supernova
    - text: NUEVAS FECHAS
      color: brightTurquoise
menu:
  title: Front End developer
  image: frontend-menu.jpg
options:
  - date: 5 octubre 2020
    color: royalBlue
    title: Part Time Bootcamp Front End
    features:
      1:
        - text: Part time
          bold: true
        - text: Jornada partida
          bold: false
      2:
        - text: 160
          bold: true
        - text: Horas lectivas
          bold: false
      3:
        - text: Lunes, miércoles y viernes
          bold: true
        - text: de 18:30h a 22h
          bold: false
    badge: ÚLTIMAS PLAZAS
    href: '/inscripcion'
    price: 4.900€*
hero:
  title:
    color: Front-end
    rest: Developer
  background: frontend-bg.jpg
  svg: /src/images/frontend-hero.svg
description: Capacítate como desarrollador Front-end y conviértete en uno de los profesionales más demandados.
primary_color: brightTurquoise
skills:
  - title: Técnicas avanzadas
    description: Dominarás las técnicas más avanzadas para el desarrollo web profesional con HTML5, CSS3, Javascript. Te adaptarás a cualquier proyecto, problema o framework.
  - title: Entrenamiento completo
    description: Partirás de la base de cada lenguaje, pasando por metodologías, librerías, preprocesadores… Y llegarás a alcanzar un conocimiento completo del mundo Front-End
  - title: Good practices
    description: Desarrollarás las destrezas, habilidades y buenas prácticas necesarias para empezar a sumar desde el minuto uno en tu entorno laboral.
  - title: Soft Skills
    description: Adquirirás habilidades para desenvolverte en equipos de trabajo altamente competitivos desarrollando competencias de comunicación, liderazgo, patrones y flujos de trabajo, metodologías Agile, etc.
faqs:
  - question_title: ¿Qué beneficios me aporta aprender desarrollo Front-End?
    question_answer: Integrarte en las demandas que el mundo laboral de hoy necesita. Si dominas la programación web se multiplicarán tus oportunidades. La demanda de desarrolladores no para de crecer y apostar por estar ahí te sitúa en una posición ventajosa. 
  - question_title: ¿Se necesita experiencia o conocimientos previos?
    question_answer: Para la realización del FED Bootcamp no se necesita tener conocimientos previos en programación o maquetación web. Tampoco es necesaria experiencia laboral. 
  - question_title: ¿Es necesario llevar mi propio ordenador?                
    question_answer: Sí, es necesario que traigas tu propio portátil porque habrá que seguir trabajando fuera del horario lectivo.
form:
  color: royalBlue
  title: ¿Quieres saber más?
  description: En Upgrade nos comprometemos con tu proyección de futuro. Nuestros Bootcamps, 100% profesionales, son entrenamientos intensivos que te capacitan tanto en conocimientos técnicos como en habilidades sociales.
---

<uh-content-row wide>
  <uh-flex>
    <div>
      <uh-content-text size="m" weight="bold" color="scarletGum">
        ¿Qué es Front End?
      </uh-content-text>
      <uh-content-text size="s">
        El Front-End es la parte de una web que es ejecutada y renderizada por los navegadores web. Por ello, el Front-End engloba tanto la parte visual de una web como la de interacción del usuario. 
      </uh-content-text>
    </div>
    <img alt="Alumno sonriendo" src="{{ project.relativeUrl('/images/front-working.jpg') }}" />
  </uh-flex>
</uh-content-row>

{% include 'components/conocimientos-previos.njk' %}
{% include 'components/skills.njk' %}

<uh-hero full no-gradient>
  <uh-content-row wide slot="content">
    <uh-content-text size="l" color="white" weight="bold" >
      ¿Por qué ser desarollador Front End puede cambiarte la vida?
    </uh-content-text>
    <uh-content-text size="s" color="white">
      Como desarrollador, te situarás en una posición privilegiada dentro del mercado laboral. Podrás trabajar a distancia desde donde quieras y formarás parte de en unos de los sectores mejor remunerados.
    </uh-content-text>
    <uh-button color="translucent">Ver vídeo</uh-button>
  </uh-content-row>
  <img slot="background" class="lazyload" alt="mentor front end hablando" style="filter: brightness(50%)" data-src="{{ project.relativeUrl('/images/mentores_images/fran_linde_front.jpg')}}"/>
</uh-hero>

{% include 'components/method.njk' %}

<uh-content-row wide>
  <uh-flex>
    <uh-content-text size="m" weight="bold" color="scarletGum">
      ¿Cuáles son las fases del curso?
      <uh-break></uh-break>
      <uh-text size="s" non-responsive><uh-button color="royalBlue">Descargar programa</uh-button></uh-text>
    </uh-content-text>
    <uh-content-text size="s">
      El Bootcamp Front End Developer es un entrenamiento intensivo de inmersión en proyectos web. Durante este periodo, trabajarás con entornos web en todas sus facetas: creación, interacción, programación, gestión de datos, soft skills, trabajo cooperativo, buenas prácticas, etc. 
    </uh-content-text>
  </uh-flex>
</uh-content-row>

<uh-content-row wide>
  <uh-flex>
    <div>
      <uh-content-text size="m" weight="bold" color="scarletGum">
        ¿Qué herramientas voy a utilizar?
      </uh-content-text>
      <uh-content-text size="xs">
        Al finalizar el Bootcamp, habrás adquirido las habilidades para controlar la base de la programación, desde los conocimientos core hasta el uso de los frameworks más extendidos: HTML5, CSS3, Javascript y Angular + React.
      </uh-content-text>
    </div>
    <uh-icons-grid>
      <img class="lazyload" alt="alt title" data-src="/images/logo-images/html_logo.png"/>
      <img class="lazyload" alt="alt title" data-src="/images/logo-images/css_logo.png"/>
      <img class="lazyload" alt="alt title" data-src="/images/logo-images/javascript_logo.png"/>
      <img class="lazyload" alt="alt title" data-src="/images/logo-images/angular_logo.png"/>
      <img class="lazyload" alt="alt title" data-src="/images/logo-images/reactjs_logo.png"/>
      <!-- {{ '/src/icons/indra-logo.svg' | svgContents | safe }} -->
    </uh-icons-grid>
  </uh-flex>
</uh-content-row>

{# ->Video background #}
{# <uh-hero>
  <uh-content-row fluid slot="content">
    <uh-text size="xl" weight="bold" color="white">{{ title }}</uh-text>
  </uh-content-row>
  <uh-video slot="background" src="{{ project.relativeUrl('/videos/woman-studying-outdoors.mp4') }}"/>
</uh-hero>
<uh-content-row>
  <h2>{{ title }}</h2>
</uh-content-row> #}