---
layout: layouts/curso.njk
title: UX/UI designer
tags: cursos
order: 3
logo: ux-ui-geometric-logo
card:
  title: UX/UI designer
  description: 21 de septiembre
chooser:
  title: UX/UI Designer
  image: /images/chooser-images/uxui-img-chooser.jpg
  badges:
    - text: NUEVAS FECHAS
      color: brightTurquoise
menu:
  title: UX/UI Designer
  image: uxui-menu.jpg
options:
  - date: 22 septiembre 2020
    color: royalBlue
    title: Part Time Bootcamp UX/UI Designer
    features:
      1:
        - text: Part time
          bold: true
        - text: Jornada partida
          bold: false
      2:
        - text: 250
          bold: true
        - text: Horas lectivas
          bold: false
      3:
        - text: Martes y jueves
          bold: true
        - text: de 18:30h a 22h
          bold: false
        - text: Sábados
          bold: true
        - text: de 8:30h a 15h
          bold: false
    badge: ÚLTIMAS PLAZAS
    href: '/inscripcion'
    price: 5.900€*
  - date: 21 septiembre 2020
    color: persianRose
    title: Part Time Bootcamp UX/UI Designer
    features:
      1:
        - text: Full time
          bold: true
        - text: Jornada completa
          bold: false
      2:
        - text: 312
          bold: true
        - text: Horas lectivas
          bold: false
      3:
        - text: Lunes a viernes
          bold: true
        - text: de 9h a 18h
          bold: false
    href: '/inscripcion'
    price: 5.900€*
hero:
  title:
    color: UX/UI
    rest: Designer
  background: uxui-bg.jpg
  svg: /src/images/uxui-hero.svg
description: Aprenderás a combinar diferentes metodologías y herramientas centradas en el usuario, enfocadas en comprender sus necesidades y comportamientos, para diseñar soluciones que hagan su día a día más fácil.
primary_color: persianRose
skills:
  - title: Research
    description: Aprenderás a investigar sobre las necesidades de los usuarios a través de distintas técnicas, tanto cualitativas como cuantitativas.
  - title: Ideación
    description: Diseñarás soluciones digitales teniendo en cuenta siempre los tres pilares fundamentales, el usuario, negocio y tecnología.
  - title: IxD
    description: Aprenderás a tangibilizar los conceptos en una arquitectura de información y diseñando flujos de interacción.
  - title: Fundamentos Visuales
    description: Aprenderás los fundamentos sacando el potencial a Sketch o Figma y aplicarás las bases del Atomic Design, creando sistemas de diseño útiles y efectivos.
  - title: Diseño Colaborativo
    description: Comprenderás herramientas como Invision o Zeplin, utilizados en todos los departamentos de trabajo digitales, que te permitirán compartir tus avances entre tus compañeros.
  - title: Portfolio Profesional
    description: Dieñarás tu própio proyecto, el portfolio con el cuál demostrarás tus habilidades para integrarte en un equipo como Product Designer, UX researcher, UX designer o UI designer.
successStories:
  - name: Carmen Mallado
    job_title: Upgrader UXUI designer bootcamp
    image: /images/success-stories/carmen_mallado.jpg
    youtube_video: Le33OqFosf4
  - name: Javier de miguel
    job_title: Upgrader UXUI designer bootcamp
    image: /images/success-stories/javier_miguel.jpg
    youtube_video: g6Hj3m-GBXY
  - name: Elena Martín
    job_title: Upgrader UXUI designer bootcamp
    image: /images/success-stories/elena_martin.jpg
    youtube_video: wB5nzOSThl4
faqs:
  - question_title: ¿Qué beneficios me aporta aprender desarrollo UX/UI?
    question_answer: Integrarte en las demandas que el mundo laboral de hoy necesita. Gracias al UX/UI Bootcamp podrás adquirir todos los conocimientos necesarios en el mundo del diseño para dar respuesta a la creciente demanda del sector tecnológico.
  - question_title: ¿Se necesita experiencia o conocimientos previos?
    question_answer: Para la realización del UX/UI Bootcamp no se necesita tener conocimientos previos en investigación o diseño. Tampoco es necesaria experiencia laboral.
  - question_title: ¿Es necesario llevar mi propio portatil?                
    question_answer: Sí, es necesario que traigas tu propio portátil.
form:
  color: royalBlue
  title: ¿Quieres saber más?
  description: En Upgrade nos comprometemos con tu proyección de futuro. Nuestros Bootcamps, 100% presenciales, son entrenamientos intensivos que te capacitan tanto en conocimientos técnicos como en habilidades sociales.
---

<uh-content-row wide>
  <uh-flex>
    <div>
      <uh-content-text size="m" weight="bold" color="scarletGum">
        ¿Qué es UX/UI?
      </uh-content-text>
      <uh-content-text size="s">
        El diseño UX/UI combina diferentes metodologías y herramientas centradas en el usuario, enfocadas en comprender sus necesidades y comportamientos, pudiendo así diseñar soluciones que hagan su día a día más fácil. 
      </uh-content-text>
    </div>
    <img alt="Alumno sonriendo" src="{{ project.relativeUrl('/images/02-bootcamp.jpg') }}" />
  </uh-flex>
</uh-content-row>

{% include 'components/conocimientos-previos.njk' %}

{% include 'components/skills.njk' %}

<uh-hero full no-gradient>
  <uh-content-row wide slot="content">
    <uh-content-text size="l" color="white" weight="bold" >
      ¿Porqué la experiencia de usuario puede cambiarte la vida?
    </uh-content-text>
    <uh-content-text size="s" color="white">
      Como diseñador, siempre estarás aprendiendo. Te enfrentarás y solucionarás retos y problemas emocionantes. Tu tarea será cambiar el mundo a mejor.
    </uh-content-text>
    <uh-button color="translucent">Ver vídeo</uh-button>
  </uh-content-row>
  <img slot="background" class="lazyload" alt="mentor hablando" style="filter: brightness(50%)" data-src="{{ project.relativeUrl('/images/cambiarte-la-vida.jpg')}}"/>
</uh-hero>

{% include 'components/method.njk' %}

{% include 'components/success-stories.njk' %}

<uh-content-row wide>
  <uh-flex>
    <uh-content-text size="m" weight="bold" color="scarletGum">
      ¿Cuáles son las fases del curso?
      <uh-break></uh-break>
      <uh-text size="s" non-responsive><uh-button color="royalBlue">Descargar programa</uh-button></uh-text>
    </uh-content-text>
    <uh-content-text size="s">
      En el Bootcamp de UX/UI aprenderás desde el conocimiento pragmático de la aplicación del diseño de experiencia y producto digital con las herramientas y metodologías más utilizadas y vanguardistas. 
    </uh-content-text>
  </uh-flex>
</uh-content-row>

<uh-flex>
  <uh-content-row fluid>
    <uh-faq-question color="supernova">
      <h3 slot="question-title">Design Sprint</h3>
      <uh-text size="s" slot="question-answer">
        <p>Contenido</p>
        <p>Contenido</p>
        <p>Contenido</p>
      </uh-text>
    </uh-faq-question>
    <uh-faq-question color="royalBlue">
      <h3 slot="question-title">Investigación</h3>
      <uh-text size="s" slot="question-answer">
        <p>Contenido</p>
        <p>Contenido</p>
        <p>Contenido</p>
      </uh-text>
    </uh-faq-question>
    <uh-faq-question color="persianRose">
      <h3 slot="question-title">Ideación y conceptualización</h3>
      <uh-text size="s" slot="question-answer">
        <p>Contenido</p>
        <p>Contenido</p>
        <p>Contenido</p>
      </uh-text>
    </uh-faq-question>
    <uh-faq-question color="blueRibbon">
      <h3 slot="question-title">Pregunta 4</h3>
      <uh-text size="s" slot="question-answer">
        <p>Contenido</p>
        <p>Contenido</p>
        <p>Contenido</p>
      </uh-text>
    </uh-faq-question>
  </uh-content-row>
  <uh-content-row fluid>
    <uh-faq-question color="supernova">
      <h3 slot="question-title">Arquitectura de la información</h3>
      <uh-text size="s" slot="question-answer">
        <p>Contenido</p>
        <p>Contenido</p>
        <p>Contenido</p>
      </uh-text>
    </uh-faq-question>
    <uh-faq-question color="royalBlue">
      <h3 slot="question-title">Diseño de interfaz</h3>
      <uh-text size="s" slot="question-answer">
        <p>Contenido</p>
        <p>Contenido</p>
        <p>Contenido</p>
      </uh-text>
    </uh-faq-question>
    <uh-faq-question color="persianRose">
      <h3 slot="question-title">Prototipado</h3>
      <uh-text size="s" slot="question-answer">
        <p>Contenido</p>
        <p>Contenido</p>
        <p>Contenido</p>
      </uh-text>
    </uh-faq-question>
    <uh-faq-question color="blueRibbon">
      <h3 slot="question-title">Pregunta 8</h3>
      <uh-text size="s" slot="question-answer">
        <p>Contenido</p>
        <p>Contenido</p>
        <p>Contenido</p>
      </uh-text>
    </uh-faq-question>
  </uh-content-row>
</uh-flex>

<uh-content-row wide>
  <uh-flex>
    <div>
      <uh-content-text size="m" weight="bold" color="scarletGum">
        ¿Qué herramientas voy a utilizar?
      </uh-content-text>
      <uh-content-text size="xs">
        Al finalizar el Bootcamp, habrás adquirido las habilidades necesarias para integrarte en un equipo como Product Designer, UX Researcher, UX Designer o UI Designer y dominarás las técnicas más extendidas y utilizadas en el entorno laboral real.
      </uh-content-text>
    </div>
    <uh-icons-grid>
      <img class="lazyload" alt="alt title" data-src="/images/logo-images/sketch_logo.png"/>
      <img class="lazyload" alt="alt title" data-src="/images/logo-images/invision_logo.png"/>
      <img class="lazyload" alt="alt title" data-src="/images/logo-images/zeplin_logo.png"/>
      <img class="lazyload" alt="alt title" data-src="/images/logo-images/miro_logo.png"/>
      <!-- {{ '/src/icons/indra-logo.svg' | svgContents | safe }} -->
    </uh-icons-grid>
  </uh-flex>
</uh-content-row>

<uh-content-row wide>
  <uh-content-text size="m" weight="bold" color="scarletGum">
    Mentores
  </uh-content-text>
  <uh-content-text size="xs">
    Nuestro equipo de mentores está constituido por profesionales en activo que combinan la tarea docente con sus trabajos en empresas del sector tecnológico.
  </uh-content-text>
  <uh-profiles-grid>
    <uh-profile>
      <img class="lazyload" alt="alt title" data-src="/images/mentores_images/jesus_bermejo.png"/><br>
      <uh-text size="xs" weight="bold" non-responsive>Jesús Bermejo</uh-text><br>
      <uh-text size="xs" non-responsive>Service & Strategic Designer</uh-text><br>
      <uh-text size="xs" non-responsive><a href="#">Linkedin</a></uh-text><br>
    </uh-profile>
    <uh-profile>
      <img class="lazyload" alt="alt title" data-src="/images/mentores_images/itziar_sanvicente.png"/><br>
      <uh-text size="xs" weight="bold" non-responsive>Itziar San Vicente</uh-text><br>
      <uh-text size="xs" non-responsive>Lead UX/UI</uh-text><br>
      <uh-text size="xs" non-responsive><a href="#">Linkedin</a></uh-text><br>
    </uh-profile>
    <uh-profile>
      <img class="lazyload" alt="alt title" data-src="/images/mentores_images/miriam_soriano.png"/><br>
      <uh-text size="xs" weight="bold" non-responsive>Miriam Soriano</uh-text><br>
      <uh-text size="xs" non-responsive>UX/UI Designer </uh-text><br>
      <uh-text size="xs" non-responsive><a href="#">Linkedin</a></uh-text><br>
    </uh-profile>
    <uh-profile>
      <img class="lazyload" alt="alt title" data-src="/images/mentores_images/lakchmi_salcedo.png"/><br>
      <uh-text size="xs" weight="bold" non-responsive>Lakchmi Salcedo</uh-text><br>
      <uh-text size="xs" non-responsive>Creative & Art Director </uh-text><br>
      <uh-text size="xs" non-responsive><a href="#">Linkedin</a></uh-text><br>
    </uh-profile>
  </uh-profiles-grid>
</uh-content-row>

{# <uh-hero full no-gradient>
  <uh-content-row wide slot="content">
    <uh-content-text size="l" color="white" weight="bold" >
      ¿Cómo es un día en Upgrade Hub?
    </uh-content-text>
    <uh-content-text size="s" color="white">
      Descubre de la mano de nuestros alumnos, mentores y equipo cómo es un día en nuestro hub de entrenamiento digital
    </uh-content-text>
    <uh-button color="translucent">Descubrir</uh-button>
  </uh-content-row>
  <uh-video slot="background" loading="lazy" src="{{ project.relativeUrl('/videos/white-board.mp4')}}"/>
</uh-hero> #}

{# <uh-hero>
  <uh-content-row fluid slot="content">
    <uh-text size="xl" weight="bold" color="white">{{ title }}</uh-text>
  </uh-content-row>
  <uh-video slot="background" src="{{ project.relativeUrl('/videos/road-through-hills.mp4') }}"/>
</uh-hero> #}
