---
layout: layouts/landing.njk
title: This is a custom landing
navbar: false
permalink: "landing-v4/"
courses:
  - color: scarletGum
    title: título
    description: descripción
  - color: royalBlue
    title: Ciberseguridad y hacking ético
    description: Ofrecerás las soluciones técnicas en materia de seguridad desde un punto de vista integral, viendo la seguridad como un todo.
    badges:
      - ÚLTIMAS PLAZAS
    options:
      - part time
      - full time
    date: 22 septiembre
  - color: scarletGum
    title: título
    description: descripción
  - color: scarletGum
    title: título
    description: descripción

---

<uh-flex from="xl">
  <uh-content-row fluid full background="scarletGum">
    <uh-logo color="white"></uh-logo>
    <uh-break></uh-break>
    <uh-text size="xs" color="brightTurquoise" weight="bold">Upgrade your life</uh-text>
    <uh-break size="xs"></uh-break>
    <uh-text size="xl" weight="bold" color="white">Cambia de vida</uh-text>
    <uh-break size="xs"></uh-break>
    <uh-text size="s" color="white">
      Somos un hub de entrenamiento digital, que te permitirá cambiar tu vida.
    </uh-text>
    <uh-break size="m"></uh-break>
    <uh-button color="translucent" href="#">Quiero empezar</uh-button>
  </uh-content-row>
  <div>
    <img
        class="lazyload hide-below-xl"
        style="width: 100%; height: 100%; object-fit: cover"
        src="/images/fotos-alumnos.jpg" />
  </div>
</uh-flex>

<uh-break size="xl" class="hide-below-xl"></uh-break>
<uh-break size="xl" class="hide-below-xl"></uh-break>

<style>
  @media(min-width: 1200px) {
    #contacto {
      position: absolute;
      right: 5%;
      top: 5%;
      width: 40%;
    }
  }
</style>
<uh-content-row fluid background="royalBlue" id="contacto">
  <style>
    uh-contact-form {
      --form-input-height: 40px;
      --form-input-padding: 0 10px;
    }
  </style>
  <uh-text weight="bold" color="white" size="m">
    Solicita admisión
  </uh-text>
  <br>
  <uh-text color="white" size="s">
    Cambia de vida
  </uh-text>
  <uh-break></uh-break>
  <uh-contact-form
      href-legal="{{ project.relativeUrl('/legal')}}"
      href-privacidad="{{ project.relativeUrl('/privacidad')}}"
      options="{{ collections.formOptions }}">
  </uh-contact-form>
</uh-content-row>

<style>
  @media(min-width: 1200px) {
    #contacto {
      position: absolute;
      right: 5%;
      top: 5%;
      width: 40%;
    }
  }
</style>

<uh-content-row wide>
  <uh-content-text center size="l" weight="bold">
    Nuestros bootcamps
  </uh-content-text>
  <uh-content-text center>
    Cursos intensivos para formarte en  las profesiones digitales más demandadas. 
  </uh-content-text>
  <uh-flex from="xl">
    {% for course in courses %}
      <uh-course-landing-card background="{{ course.color }}" style="margin: 0 10px; {{ 'margin-left: 0; ' if loop.first }}{{ 'margin-right: 0; ' if loop.last }}">
        {% for badge in course.badges %}
          <uh-badge slot="badge">{{ badge }}</uh-badge>
        {% endfor %}
        <uh-text color="white" size="m" weight="bold" non-responsive>{{ course.title }}</uh-text>
        <uh-break size="xs"></uh-break>
        <uh-text color="white" size="s" non-responsive>{{ course.description }}</uh-text>
        <uh-break></uh-break>
        {% for option in course.options %}
          <uh-text slot="option" color="white" size="xs" non-responsive>{{ option }}</uh-text>
        {% endfor %}
        {% if course.date %}
        <div slot="date">
          <uh-icon name="calendar"></uh-icon> <uh-text color="white" non-responsive>{{ course.date }}</uh-text>
        </div>
        {% endif %}
        <uh-button slot="button" color="translucent" href="{{ course.href }}">Solicitar admisión</uh-button>
      </uh-course-landing-card>
    {% endfor %}
  </uh-flex>
</uh-content-row>

{% include 'components/formatos.njk' %}

<uh-content-row>
  <uh-content-text center non-responsive>
    <uh-button color="sunsetOrange">Solicitar admisión</uh-button>
  </uh-content-text>
</uh-content-row>

<uh-content-row wide>
  <uh-content-text center>
    [TODO - Alumnos citas] 
  </uh-content-text>
</uh-content-row>

<uh-content-row wide background="whisper">
  <uh-flex from="xl">
    <uh-content-text size="m" weight="bold">
      90% de empleabilidad en las mejores empresas del sector.
    </uh-content-text>
    <uh-content-text size="xs" weight="light">
      El contenido del programa se realiza en estrecha colaboración con las empresas, tomando como punto de partida las necesidades del mercado laboral.
    </uh-content-text>
  </uh-flex>
</uh-content-row>

{% include 'components/empresas.njk' %}

{% include 'components/method.njk' %}

<uh-hero full no-gradient>
  <uh-content-row wide slot="content">
    <uh-content-text size="l" color="white" weight="bold" >
      ¿No lo tienes claro?<br>
      ¡Te ayudamos!
    </uh-content-text>
    <uh-content-text size="s" color="white">
       ¿Qué elegir? Te recomendamos la profesión que mejor se adapta a tu perfil y te ayudamos a despejar tus principales dudas. 
    </uh-content-text>
    <uh-button color="sunsetOrange">Contactar</uh-button>
  </uh-content-row>
  <img slot="background" class="lazyload" src="{{ project.relativeUrl('/images/business-woman-shakes-hand.jpg')}}"/>
</uh-hero>

<style>
  .hide-below-xl {
    display: none;
  }

  @media(min-width: 1200px) {
    .hide-below-xl {
      display: block;
    }
  }
</style>

{# Use this to load scripts asynchronously, so you don't delay the page load #}
<script>
  window.addEventListener('DOMContentLoaded', function () {
    console.log('loaded')
  })
</script>