---
minireset: true
---
<!doctype html>
<!-- version {{ project.version }}, built at {{ project.timestamp }} -->
<html lang="es-ES">

  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# <meta name="theme-color" content="#fafafa"> #}

    {# PERFORMANCE: Adding CSS in a single style tag #}
    {% set css %}
      {% if minireset %}
        {% include "../../../node_modules/minireset.css/minireset.css" %}
      {% endif %}
      {% include "../../css/main.css" %}
    {% endset %}
    <style>
      {% if project.environment == "production" %}
        {{ css | cssmin | safe }}
      {% else %}
        {{ css | safe }}
      {% endif %}
    </style>
  </head>

  <body>

    {{ content | safe }}

    {# PERFORMANCE: Adding JS in a single script tag #}
    {# _includes/js/index.js #}
    {% set js %}
      {% include "js/index.js" %}
    {% endset %}
    <script>
      {% if project.environment == "production" %}
        {{ js | jsmin | safe }}
      {% else %}
        {{ js | safe }}
      {% endif %}
    </script>

    <script src="./bundle.js"></script>
    {% include 'components/no-script.njk' %}
  </body>
</html>
