---
layout: layouts/base.njk
---

<uh-hero class="product" background="scarletGum" no-gradient>
  <uh-content-row slot="content">
    <uh-break size="m"></uh-break>
    <uh-text size="xs" color="{{ primary_color }}">Bootcamp</uh-text>
    <br>
    <uh-text size="s" weight="300" color="white">Upgrade your life</uh-text>
    <uh-break size="s"></uh-break>
    <uh-text size="xl" weight="bold" color="{{ primary_color }}">{{ hero.title.color }}</uh-text>
    <uh-text size="xl" weight="bold" color="white">{{ hero.title.rest }}</uh-text>
    <uh-break size="s"></uh-break>
    <uh-text color="white" size="s">{{ description }}</uh-text>
    <uh-break size="s"></uh-break>
    <uh-button color="translucent" href="{{ project.relativeUrl('/inscripcion')}}">Solicitar admisión</uh-button>
  </uh-content-row>
  {% if hero.background %}
    <img slot="background" class="product" alt="hero background for {{ title }}" src="{{ project.relativeUrl('/images/' + hero.background) }}" />
  {% endif %}
  {% if hero.svg %}
    {{ hero.svg | svgContents | addSlot('product-hero') | safe }}
  {% endif %}
</uh-hero>

<uh-content-row wide>
  {% for option in options %}
    <uh-course-option background="{{ option.color }}">
      <uh-text slot="date-mobile" size="s" color="white">{{ option.date }}</uh-text>
      <uh-text slot="date-desktop" size="s" color="white">
        <uh-icon name="calendar"></uh-icon> {{ option.date }}
      </uh-text>
      <uh-text slot="title" size="m" color="white" weight="600">
        {{ option.title }}
      </uh-text>
      {% for number, features in option.features %}
        {% for feature in features %}
          <uh-text slot="feature-{{ number }}" size="s" color="white" {{ "weight=bold" if feature.bold }} non-responsive>
            {{ feature.text }}<br>
          </uh-text>
        {% endfor %}
      {% endfor %}
      <uh-button slot="button" color="translucent" href="{{ project.relativeUrl(option.href) }}">Solicitar admisión</uh-button>
      {% if option.badge %}
        <uh-badge slot="badge">{{ option.badge }}</uh-badge>
      {% endif %}
    </uh-course-option>
  {% endfor %}
</uh-content-row>

{% include 'components/formatos.njk' %}

{{ content | safe }}

<uh-content-row wide background="seaShell">
  {% for option in options %}
    <uh-course-option background="white">
      <uh-text slot="date-mobile" size="s" color="{{ option.color }}">{{ option.date }}</uh-text>
      <uh-text slot="date-desktop" size="s" color="{{ option.color }}">
        <uh-icon name="calendar" color="{{ option.color }}"></uh-icon> {{ option.date }}
      </uh-text>
      <uh-text slot="title" size="m" weight="600" color="{{ option.color }}">
        {{ option.title }}
      </uh-text>
      {% for number, features in option.features %}
        {% for feature in features %}
          <uh-text slot="feature-{{ number }}" color="{{ option.color }}" size="s" {{ "weight=bold" if feature.bold }} non-responsive>
            {{ feature.text }}<br>
          </uh-text>
        {% endfor %}
      {% endfor %}
      <uh-text slot="price" size="m" weight="500" color="{{ option.color }}">{{ option.price }}</uh-text>
      <uh-button slot="button" color="{{ option.color }}" href="{{ project.relativeUrl(option.href) }}">
        Solicitar admisión
      </uh-button>
      {% if option.badge %}
        <uh-badge slot="badge">{{ option.badge }}</uh-badge>
      {% endif %}
    </uh-course-option>
  {% endfor %}
  <uh-break></uh-break>
  <uh-flex>
    <div>
      <uh-content-text size="m" weight="bold" color="scarletGum" reduced-spacing>
        *Que el precio no sea un problema
      </uh-content-text>
      <uh-content-text size="s" reduced-spacing>
        Consulta nuestras condiciones especiales de financiación.
      </uh-content-text>
      <uh-button color="royalBlue">Consultar</uh-button>
      <uh-break></uh-break>
    </div>
    <div style="display: grid; grid-gap: 10px;">
      <uh-card>
        <uh-flex align-center>
          <uh-icon name="banco-sabadell-logo"></uh-icon>
          <div>
            <uh-text weight="bold" size="xs">Sabadell Financiación</uh-text><br>
            <uh-text size="xs">Consulta nuestras condiciones especiales de financiación. </uh-text><br>
          </div>
        </uh-flex>
      </uh-card>
      <uh-card>
        <uh-flex align-center>
          <uh-icon name="upgrade-hub-becas-logo"></uh-icon>
          <div>
            <uh-text weight="bold" size="xs">
              Plazo de solicitud <uh-text color="blueRibbon" weight="bold" size="xs">abierto</uh-text>
            </uh-text><br>
            <uh-text size="xs">Consulta nuestras condiciones especiales de financiación. </uh-text><br>
          </div>
        </uh-flex>
      </uh-card>
    </div>
  </uh-flex>
</uh-content-row>

<uh-hero full no-gradient>
  <uh-content-row wide slot="content">
    <uh-content-text center size="l" color="white" weight="bold" >
      ¿Quieres saber más?
    </uh-content-text>
    <uh-content-text center size="s" color="white">
      Nuestros Bootcamps, 100% profesionales, son entrenamientos intensivos que te capacitan tanto en conocimientos técnicos como en habilidades sociales.
    </uh-content-text>
    <uh-content-text center non-responsive>
      <uh-button color="translucent">Más información</uh-button>
    </uh-content-text>
  </uh-content-row>
  <uh-video slot="background" loading="lazy" src="{{ project.relativeUrl('/videos/white-board.mp4')}}"/>
</uh-hero>

{% if faqs %}
<uh-content-row background="scarletGum">
  <uh-content-text color="white" size="m" weight="bold">Preguntas frecuentes</uh-content-text>
  {% for q in faqs %}
  <uh-faq-question color="white">
    <uh-text slot="question-title" size="xs">{{ q.question_title }}</uh-text>
    <uh-text size="xs" color="white" slot="question-answer">{{ q.question_answer }}</uh-text>
  </uh-faq-question>
  {% endfor %}
</uh-content-row>
{% endif %}

{% if form %}
<uh-content-row fluid background="{{ form.color }}" id="contacto">
  <uh-break></uh-break>
  <uh-flex align-center from="xl">
    <uh-content-text>
      <uh-content-text size="l" weight="bold" color="white">
        {{ form.title }}
      </uh-content-text>
      <uh-content-text size="s" color="white">
        {{ form.description }}
      </uh-content-text>
    </uh-content-text>
    <uh-contact-form
        href-legal="{{ project.relativeUrl('/legal')}}"
        href-privacidad="{{ project.relativeUrl('/privacidad')}}"
        options="{{ collections.formOptions }}"
        prefilled="{&quot;bootcamp&quot;:&quot;{{ title }}&quot;}">
    </uh-contact-form>
  </uh-flex>
</uh-content-row>
{% endif %}