---
layout: layouts/base.njk
minireset: false
---

<uh-content-row background="royalBlue">
  <uh-break></uh-break>
  <uh-content-text color="white">
    {{ title }}
  </uh-content-text>
</uh-content-row>
<uh-content-row>
  {{ content | safe }}
</uh-content-row>
