---
layout: layouts/base.njk
title: Upgrade Hub - Preguntas Frecuentes
---

<uh-content-row background="scarletGum">
  <uh-break></uh-break>
  <uh-content-text center color="white">
    Preguntas frecuentes
  </uh-content-text>
  <uh-form-input-search></uh-form-input-search>
</uh-content-row>

<uh-content-row background="whisper">
  {% for section in preguntasFrecuentes %}
    <uh-content-text size="xs">
      {{ section.title }}
    </uh-content-text>
    {% for question in section.questions %}
      <uh-faq-question>
        <uh-text slot="question-title">{{ question.question }}</uh-text>
        <uh-text slot="question-answer">{{ question.answer }}</uh-text>
      </uh-faq-question>
    {% endfor %}
  {% endfor %}
</uh-content-row>

<script>
  const questions = document.querySelectorAll('uh-faq-question')
  const questionsTextContent = Array.from(questions).map(({textContent}) => textContent.toLowerCase())
  document.addEventListener('input-search', function (e) {
    questionsTextContent.forEach((text,index) => {
      if (text.includes(e.detail.value.toLowerCase())) {
        questions[index].hidden = false
      } else {
        questions[index].hidden = true
      }
    })
  })
</script>