---
layout: layouts/base.njk
title: Upgrade Hub - Oh no! Error 404
permalink: 404.html
---

<uh-content-row background="royalBlue">
  <uh-break></uh-break>
  <uh-break></uh-break>
  <uh-break></uh-break>
  <uh-content-text color="white">
    Error 404
  </uh-content-text>
  <uh-break></uh-break>
  <uh-break></uh-break>
  <uh-break></uh-break>
</uh-content-row>
