---
layout: layouts/base.njk
title: Upgrade Hub - Contacto
---

<uh-content-row fluid background="royalBlue" id="contacto">
  <uh-break></uh-break>
  <uh-flex align-center from="xl">
    <uh-content-text>
      <uh-content-text size="l" weight="bold" color="white">
        ¿Quieres saber más?
      </uh-content-text>
      <uh-content-text size="s" color="white">
        En Upgrade nos comprometemos con tu proyección de futuro. Nuestros Bootcamps, 100% presenciales, son entrenamientos intensivos que te capacitan tanto en conocimientos técnicos como en habilidades sociales.
      </uh-content-text>
    </uh-content-text>
    <uh-contact-form
        href-legal="{{ project.relativeUrl('/legal')}}"
        href-privacidad="{{ project.relativeUrl('/privacidad')}}"
        message-input
      ></uh-contact-form>
  </uh-flex>
</uh-content-row>

