---
layout: layouts/base.njk
title: Upgrade Hub - Home
description: Somos el hub de entrenamiento digital, que te permitirá encontrar el empleo que buscas y cambiar tu vida
---

<uh-hero>
  <uh-content-row slot="content">
    <uh-text size="xl" weight="bold" color="white">Upgrade your life</uh-text>
    <uh-break size="xs"></uh-break>
    <uh-text size="s" color="white" weight="bold">
      Somos el hub de entrenamiento digital, que te permitirá encontrar el empleo que buscas y cambiar tu vida
    </uh-text>
  </uh-content-row>
  <uh-video slot="background" src="{{ project.relativeUrl('/videos/upgrade-bg-2.mp4') }}"/>
</uh-hero>

<uh-contact-buttons>
  <uh-button color="mountainMeadow" block small with-icon>
    <uh-icon name="whatsapp"></uh-icon>
    <uh-text size="xs" non-responsive>
      WhatsApp
    </uh-text>
  </uh-button>
  <uh-button color="persianRose" block small with-icon href="{{ project.relativeUrl('/inscripcion')}}">
    <uh-icon name="admision"></uh-icon>
    <uh-text size="xs" non-responsive>
      Solicitar admisión
    </uh-text>
  </uh-button>
</uh-contact-buttons>
<div id="js-uh-contact-buttons-anchor"></div>

{# 
<uh-orientador hero>
  <h2 slot="title">Orientador profesional</h2>
  <p slot="description">Descubre la profesión que cambiará tu vida</p>
  <uh-button color="translucent" block="true" href="{{ project.relativeUrl('/orientador') }}">Descubrir</uh-button>
</uh-orientador>
#}

<uh-content-row>
    <uh-content-text center weight="bold">
      Después de más de 500 alumnos en formato presencial, <em class="supernova">lanzamos LIVE</em>. Prepárate desde donde quieras de forma intensiva en: Desarrollo web, diseño ux/ui y ciberseguridad y hacking ético.
    </uh-content-text>
</uh-content-row>

{% include 'components/course-cards.njk' %}

{% include 'components/course-chooser.njk' %}

<uh-content-row wide background="whisper">
  <uh-flex from="xl">
    <uh-content-text size="m" weight="bold">
      90% de empleabilidad en las mejores empresas del sector.
    </uh-content-text>
    <uh-content-text size="xs" weight="light">
      El contenido del programa se realiza en estrecha colaboración con las empresas, tomando como punto de partida las necesidades del mercado laboral.
    </uh-content-text>
  </uh-flex>
</uh-content-row>

{% include 'components/empresas.njk' %}

<uh-content-row wide>
  <uh-flex from="xl">
    <uh-content-text size="m" weight="bold">
      Inicia tu escalada
    </uh-content-text>
    <uh-content-text size="xs" weight="light">
      En la era de la transformación digital, muchos puestos del sector tecnológico quedan vacantes cada año. Nuestros bootcamps, impartidos por profesionales en activo que conocen a fondo las necesidades del mercado, cubren esa demanda.
    </uh-content-text>
  </uh-flex>
</uh-content-row>

<uh-content-row wide>
  <uh-flex from="xl">
    <uh-content-text size="m" weight="bold">
     Profesionales en presente
    </uh-content-text>
    <uh-content-text size="xs" weight="light">
      Upgrade Hub te acompaña hasta la cima. Nuestros Bootcamps, 100% profesionales, son entrenamientos intensivos que te capacitan tanto en conocimientos técnicos como en habilidades sociales.Tu trayecto profesional con Upgrade comienza el primer día que pones el pie en el bootcamp y no termina al finalizar el programa, sino que te acompañamos en tu desarrollo laboral.
    </uh-content-text>
  </uh-flex>
</uh-content-row>

{% include 'components/success-stories.njk' %}

<uh-content-row wide>
<uh-flex from="xl">
    <uh-content-text size="m" weight="bold">
    ¿Qué es un bootcamp?
    </uh-content-text>
    <uh-content-text size="xs" weight="light">
    Un Bootcamp es un <em class="supernova">programa de entrenamiento intensivo 100% profesional</em> que te capacita tanto en conocimientos técnicos como en habilidades sociales. Tu trayecto profesional con nosotros comienza el primer día que pones el pie en el bootcamp y no termina al finalizar el programa, sino que te acompañamos en tu desarrollo laboral.    </uh-content-text>
  </uh-flex>
</uh-content-row>

{% include 'components/method.njk' %}

<uh-content-row fluid background="royalBlue" id="contacto">
  <uh-break></uh-break>
  <uh-flex align-center from="xl">
    <uh-content-text>
      <uh-content-text size="l" weight="bold" color="white">
        ¿Quieres saber más?
      </uh-content-text>
      <uh-content-text size="s" color="white">
        En Upgrade nos comprometemos con tu proyección de futuro. Nuestros Bootcamps, 100% profesionales, son entrenamientos intensivos que te capacitan tanto en conocimientos técnicos como en habilidades sociales.
      </uh-content-text>
    </uh-content-text>
    <uh-contact-form
        href-legal="{{ project.relativeUrl('/legal')}}"
        href-privacidad="{{ project.relativeUrl('/privacidad')}}"
        options="{{ collections.formOptions }}">
    </uh-contact-form>
  </uh-flex>
</uh-content-row>

{# 
<uh-orientador sticky>
  <p slot="title">Orientador profesional</p>
  <uh-button color="translucent" href="{{ project.relativeUrl('/orientador') }}">Descubrir</uh-button>
</uh-orientador>
 #}
