---
layout: layouts/base.njk
title: Upgrade Hub - Contacto
---

<uh-content-row fluid background="persianRose" id="contacto">
  <uh-break></uh-break>
  <uh-flex align-center from="xl">
    <uh-content-text>
      <uh-content-text size="l" weight="bold" color="white">
        LOREM IPSUM
      </uh-content-text>
      <uh-content-text size="s" color="white">
        LOREM IPSUM
      </uh-content-text>
    </uh-content-text>
    <uh-contact-form
        href-legal="{{ project.relativeUrl('/legal')}}"
        href-privacidad="{{ project.relativeUrl('/privacidad')}}"
        options="{{ collections.formOptions }}"
      ></uh-contact-form>
  </uh-flex>
</uh-content-row>

