---
layout: layouts/base.njk
title: Sobre el proyecto
description: El proyecto de Masa Madre Cerca
---

<h1>Masa Madre Cerca</h1>
<p>
 Versión {{ project.version }}
</p>
<p>
Daniel Vivar © 2020
</p>
<p>
  <a href="https://www.danielvivar.com">www.danielvivar.com</a>
</p>
