---
layout: layouts/base.njk
title: Upgrade Hub - Escuela
---

<uh-hero>
  <uh-content-row slot="content">
    <uh-text size="xs" color="brightTurquoise" weight="bold">Upgrade your life</uh-text>
    <uh-break size="xs"></uh-break>
    <uh-text size="xl" weight="bold" color="white">Un día en<br>Upgrade hub</uh-text>
  </uh-content-row>
  <img slot="background" class="lazyload" alt="Chica estudiando en UpgradeHub" data-src="{{project.relativeUrl('/images/escuela-bg.jpg')}}">
</uh-hero>

<uh-content-row wide>
  <uh-content-text size="s" weight="bold" color="scarletGum">
    <uh-icon name="horns-hand"></uh-icon><br>
    Conviértete en Upgrader y seguirás desarrollando tus habilidades digitales antes y después del bootcamp.
  </uh-content-text>
  <div id="accordion-top"></div>
  <uh-accordion active>
    <uh-content-text class="title" size="l" weight="bold" color="scarletGum">
      Nuestra misión
    </uh-content-text>
    <div class="active-this description">
      <uh-content-text color="scarletGum" size="s">
      Te ayudamos a desarrollarte profesionalmente. En Upgrade Hub adquieres una capacitación integral que engloba tanto elementos técnicos como humanos. Así podrás desarrollar las competencias adecuadas para integrarte en un puesto competitivo y empezar a sumar desde el primer día de trabajo.
      </uh-content-text>
    </div>
    <uh-icon class="active-this" name="chevron" color="scarletGum" fill-all></uh-icon>
  </uh-accordion>
  <uh-accordion>
    <uh-content-text class="title" size="l" weight="bold" color="scarletGum">
       El Hub
    </uh-content-text>
    <div class="active-this description">
      <uh-content-text color="scarletGum">
        Es un espacio tanto físico como virtual donde podrás conectarte, proyectarte y seguir desarrollándote. Una vez que terminas tu capacitación con nosotros, ya eres un Upgrader y pasas a formar parte de una comunidad de profesionales sólida y dinámica con la que podrás compartir ideas, establecer contactos y participar en diferentes actividades, clases magistrales, talleres y conferencias.
      </uh-content-text>
    </div>
    <uh-icon class="active-this" name="chevron" color="scarletGum" fill-all></uh-icon>
  </uh-accordion>
</uh-content-row>


<uh-content-row wide>
  <uh-flex from="xl">
    <uh-content-text size="m" weight="bold" color="scarletGum">
      Nuestro equipo, siempre preparado para guiarte
    </uh-content-text>
    <uh-content-text size="m" non-responsive weight="light">
      En Upgrade Hub nos comprometemos desde el primer día con tu consolidación profesional y con tu integración laboral. Realizamos una búsqueda constante de empresas que demandan 
  </uh-flex>

  <uh-profiles-grid>
    <uh-profile>
      <img class="lazyload" alt="Gustavo Aznar" data-src="/images/equipo-images/gustavo_aznar.jpg"/><br>
      <uh-text size="xs" weight="bold" non-responsive>Gustavo Aznar</uh-text><br>
      <uh-text size="xs" non-responsive>Co-funder Upgrade Hub</uh-text><br>
      <uh-text size="xs" non-responsive><a href="https://es.linkedin.com/in/gustavoaznar">Linkedin</a></uh-text><br>
    </uh-profile>
    <uh-profile>
      <img class="lazyload" alt="Ángel Sandoval" data-src="/images/equipo-images/angel_sandoval.jpg"/><br>
      <uh-text size="xs" weight="bold" non-responsive>Ángel Sandoval</uh-text><br>
      <uh-text size="xs" non-responsive>Co-funder Upgrade Hub</uh-text><br>
      <uh-text size="xs" non-responsive><a href="https://es.linkedin.com/in/angel-sandoval-3882574">Linkedin</a></uh-text><br>
    </uh-profile>
    <uh-profile>
      <img class="lazyload" alt="Raquel Fernandez" data-src="/images/equipo-images/raquel_fernandez.jpg"/><br>
      <uh-text size="xs" weight="bold" non-responsive>Raquél Fernández</uh-text><br>
      <uh-text size="xs" non-responsive>Admission Manager</uh-text><br>
      <uh-text size="xs" non-responsive><a href="https://es.linkedin.com/in/raquel-fern%C3%A1ndez-gago-5bb3717a">Linkedin</a></uh-text><br>
    </uh-profile>
     <uh-profile>
      <img class="lazyload" alt="Hugo Bravo" data-src="/images/equipo-images/hugo_bravo.jpg"/><br>
      <uh-text size="xs" weight="bold" non-responsive>Hugo Bravo</uh-text><br>
      <uh-text size="xs" non-responsive>Career Developer & HR Consultant</uh-text><br>
      <uh-text size="xs" non-responsive><a href="https://www.linkedin.com/in/hugo-ca%C3%B1ete-bravo-161385b5/">Linkedin</a></uh-text><br>
    </uh-profile>
    <uh-profile>
      <img class="lazyload" alt="Eduardo Guerra" data-src="/images/equipo-images/eduardo_guerra.jpg"/><br>
      <uh-text size="xs" weight="bold" non-responsive>Eduardo Guerra</uh-text><br>
      <uh-text size="xs" non-responsive>Host manager</uh-text><br>
      <uh-text size="xs" non-responsive><a href="#">Linkedin</a></uh-text><br>
    </uh-profile>
    <uh-profile>
      <img class="lazyload" alt="Alejandro Chacon" data-src="/images/equipo-images/alejandro_chacon.jpg"/><br>
      <uh-text size="xs" weight="bold" non-responsive>Alejandro Chacón</uh-text><br>
      <uh-text size="xs" non-responsive>Chief Marketing Officer</uh-text><br>
      <uh-text size="xs" non-responsive><a href="https://es.linkedin.com/in/alejandro-chac%C3%B3n-5321a358">Linkedin</a></uh-text><br>
    </uh-profile>
    <uh-profile>
      <img class="lazyload" alt="Sergio Garnacho" data-src="/images/equipo-images/sergio_garnacho.jpg"/><br>
      <uh-text size="xs" weight="bold" non-responsive>Sergio Garnacho</uh-text><br>
      <uh-text size="xs" non-responsive>UXUI Designer</uh-text><br>
      <uh-text size="xs" non-responsive><a href="https://www.linkedin.com/in/sergiogarnacho/">Linkedin</a></uh-text><br>
    </uh-profile>
  </uh-flex>
</uh-content-row>

<uh-content-row wide>
  <uh-flex>
    <div>
      <uh-content-text size="m" weight="bold" color="scarletGum" first>
          Descarga nuestro kit de prensa
      </uh-content-text>
      <uh-button color="royalBlue">Descargar</uh-button>
    </div>
    <div>
      <uh-content-text size="xs" weight="bold" color="scarletGum" first>
          Salimos en los medios
      </uh-content-text>
      <uh-empresas>
        <img class="lazyload" alt="cadena ser" data-src="{{ project.relativeUrl('/images/logo-images/ser_logo.png') }}"/>
        <img class="lazyload" alt="telemadrid" data-src="{{ project.relativeUrl('/images/logo-images/telemadrid_logo.png') }}"/>
        <img class="lazyload" alt="radio cope" data-src="{{ project.relativeUrl('/images/logo-images/cope_logo.png') }}"/>
        <img class="lazyload" alt="radio nacional" data-src="{{ project.relativeUrl('/images/logo-images/rne_logo.png') }}"/>
        <img class="lazyload" alt="vaughan radio" data-src="{{ project.relativeUrl('/images/logo-images/vaughan_logo.png') }}"/>
       <!-- Ejemplo para colocar un svg de manera individual una vez--> {# {{ '/src/icons/indra-logo.svg' | svgContents | safe }} #}
      </uh-empresas>
    </div>
  </uh-flex>
</uh-content-row>
